html{
    min-width: 475px;
    min-height: 475px;
}

body{
    background:url("../img/world_small.jpg") no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-color:#CCCCCC;
}

#content{
    height: 245px;
    margin:0 auto;
    text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.7);
    overflow: hidden;
}

#login-blur{
    height: 245px;
    width: 410px;
    border-radius: 20px;
    margin:auto;
    background: url("../img/world_small.jpg") no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    filter:blur(15px);
    -webkit-user-select: blur(15px); /* Chrome/Safari/Opera */
    -khtml-user-select: blur(15px); /* Konqueror */
    -moz-user-select: blur(15px); /* Firefox */
    -ms-user-select: blur(15px); /* Internet Explorer/Edge */
    user-select: blur(15px); /* Non-prefixed version, currently*/
}

#login-box-container{
    position: relative;
    top:-245px;
    height: 235px;
    width: 400px;
    border-radius: 20px;
    padding:5px;
    margin:auto;
    vertical-align: middle;
    background:white;
    opacity: 0.6;
    box-shadow: 7px 7px 10px black, 0 0 10px black;
}


#title{
    text-align: center;
    margin-top: 15px;
    margin-bottom:15px;
}

#login-box{
    width:340px;
    margin:auto;
}

.login-box-inner{
    margin-bottom:15px;
    padding:0;
    box-sizing: border-box;
    height:35px;
    width:310px;
}

#login-name{
    margin-left: 3px;
    padding-left: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
}

#login-password{
    margin-left: 3px;
    padding-left: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
}

#login-button{
    outline: none;
    display: block;
    margin:auto;
    font-size: 20px;
    width:200px;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    cursor:not-allowed;

}

#login-button, #title, i{
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
