#navigationBar{
    box-sizing: border-box;
    width: 100%;
    height:70px;
    line-height: 70px;
    vertical-align: middle;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 50px;
    padding-right: 50px;

    font-size:40px;
    background: white;
    border-bottom: 1px solid black;
    user-select: none;
}

#navTitle{
    display: inline-block;
}

#navTitle:hover{
    color:green;
}

#menu{
    display: inline-block;
}

#loginRegister{
    float: right;
}

.user{
    text-decoration: none;
    color:black;
}

.user:hover{
    color:green;
}

.user:active{
    color:black;
}

#mapContainer{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 60px;
}

#mainTitle{
    font-size: 50px;
    text-align: center;
    margin-top:35px;
    margin-bottom: 0px;
    padding-top: 45px;
}

#loading{
    padding-top:50px;
    font-size: 50px;
    text-align: center;
    line-height: 500px;
    vertical-align: middle;
}

/* 去除右下角水印 */
#map_inner>div
{
    visibility: hidden;
}

div#tt_sm_map{
    visibility: visible;
}

#adminLogin{
	margin:auto;
	width:65px;
}

/* 加载动画 */
#loading-logo{
    animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -webkit-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -moz-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -o-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
}

@keyframes earth
{
    0%{
        transform:translateY(-80px);
        -webkit-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -webkit-transform:translateY(0);
    }
}

@-webkit-keyframes earth
{
    0%{
        transform:translateY(-80px);
        -webkit-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -webkit-transform:translateY(0);
    }
}

@-moz-keyframes earth
{
    0%{
        transform:translateY(-80px);
        -moz-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
    }
}

@-o-keyframes earth{
    0%{
        transform:translateY(-80px);
        -o-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -o-transform:translateY(0);
    }
}
