#navigationBar{
    box-sizing: border-box;
    width: 100%;
    height:50px;
    line-height: 50px;
    vertical-align: middle;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 35px;
    padding-right: 35px;

    font-size:26px;
    background: white;
    border-bottom: 1px solid black;
    user-select: none;
}

#navTitle{
    display: inline-block;
}

#navTitle:hover{
    color:green;
}

#loginRegister{
    float: right;
}

.user{
    text-decoration: none;
    color:black;
}

.user:hover{
    color:green;
}

.user:active{
    color:black;
}

#loading{
    padding-top:50px;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
}

#mainTitle{
    font-size: 50px;
    text-align: center;
    margin-top:45px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#container{
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 1em;
}

.article{
    padding-bottom: 35px;
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1.5px solid black;
}

.title{
    text-align: center;
    cursor: pointer;
    color:black;
    transition: 0.5s;
}

.title:hover{
    transform:scale(1.2);
    color:red;
}

.date{
    text-align: center;
}

.author{
    text-align: center;
}

.content{
    text-indent: 2em;
    color:black;
    transition: 0.5s;
}

.content:hover{
    transform:scale(1.1);
    color:green;
}

#footer {
    border-top: 1.5px solid black;
}

#footer p {
    float: right;
}

#comment-submit {
    width: 10em;
    padding: 0.2em 3em;
    text-align: center;
}

/* 加载动画 */
#loading-logo{
    animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -webkit-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -moz-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
    -o-animation: earth cubic-bezier(0.5,0.01,0.9,1) 0.6s infinite alternate;
}

h2 {
    padding-top: 1em;
    border-bottom: 1px solid #d3d3d3;
}

#comments-content p {
    margin-left: 1em;
}

.comment-content, .comment-img, .content-file {
    margin-left: 1em;
}

#comments-content .comment-header {
    font-weight: 600;
}

.a-content {
    border-bottom: 1px dashed #d3d3d3;
}

.comment-header {
    margin-top: 1.6em;
}

.comment-img img {
    width: 15%;
}

@keyframes earth
{
    0%{
        transform:translateY(-80px);
        -webkit-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -webkit-transform:translateY(0);
    }
}

@-webkit-keyframes earth
{
    0%{
        transform:translateY(-80px);
        -webkit-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -webkit-transform:translateY(0);
    }
}

@-moz-keyframes earth
{
    0%{
        transform:translateY(-80px);
        -moz-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
    }
}

@-o-keyframes earth{
    0%{
        transform:translateY(-80px);
        -o-transform:translateY(-80px);
    }
    100% {
        transform:translateY(0);
        -o-transform:translateY(0);
    }
}